<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Slider</title>
    <link rel="stylesheet" href="./css/style.css" />
</head>

<body>

    <div id="app">

        <div class="container">
            <div class="slider-wrapper" 
            @mouseover="stopAutorun"
            @mouseleave="playAutorun"
            >

                <div class="item" v-for="(image, index) in slides" 
                :class="index == activeIndex ? 'active' : 'hide'">

                    <img v-for="(image, index) in slides" 
                    :key="index" 
                    :src="image.image"
                    :class="index == activeIndex ? 'active' : 'hide'">


                    <div class="text">
                        <h3>{{image.text}}</h3>
                        <p>{{image.text}}</p>
                    </div>

                </div>

                <div class="thumbs">
                    <div class="prev" @click="prevImg"></div>
                    <div class="next"  @click="nextImg"></div>

                    <div class="thumb">
                        <img v-for="(image, index) in slides" 
                        :key="index" 
                        :src="image.image"
                        :class="index == activeIndex ? 'thumb active' : ''"
                        @click="thumbClick(index)">
                    </div>

                </div>

            </div>
        </div>

    </div>

    <script src='https://unpkg.com/vue@3/dist/vue.global.js'></script>
    <script src="./js/script.vue.js"></script>
</body>

</html>